body {
    margin: 0;
    padding: 0;
}

/* General styling for the FAQ section */
#faq {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#faq h1 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Styling for each FAQ item */
.faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    transition: max-height 0.3s ease;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    background-color: #5a6267;
    color: white;
    padding: 15px;
    font-size: 1.1em;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #2d2f34;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    font-size: 0.95em;
}

.image-div {
    width: 100%;
    text-align: left;
}

.image-div img {
    max-width: 70%;
}

.faq-item.open .faq-answer {
    max-height: fit-content; /* Adjust this value based on content size */
}